@media(min-width:500px){
    .f1{
        width:100%;
        h1{
            text-align: center;
        }
        ul{
            display:flex;
            li{
                margin-left: 10%;
                list-style-type: none;
            }
        }

    }
}
@media(max-width:500px){
    .f1{
        width:100%;
        h1{
            text-align: center;
        }
        ul{
            li{
                list-style-type: none;

            }
        }
    }
}